<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">

  <!-- -------------------Custom Tabs with fab button------------------------------- -->
  <ion-fab class="circle"
    [class]="selectTab =='tab3' ? 'right-align ': selectTab =='tab4' ? 'end-align ':selectTab=='tab1' ? 'start-align ':selectTab=='tab5' ? 'lastEnd-align ' :(selectTab=='tab2' ? 'left-align ' :'')"
    vertical="bottom" horizontal="center" translucent="true">
    <!-- "selectTab=='tab1' ? 'start' : (selectTab=='tab4' ? 'end' : 'center') " -->
    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"
        class="kid">
      </path>
    </svg>
    
    <ion-fab-button>
      <ion-icon [name]="getIcon()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1"   [class.curve-right-border]="selectTab == 'tab2'"  [class]="selectTab =='tab1' ? 'bg-trans':''">
      <ion-icon *ngIf="selectTab !='tab1'" name='home-outline'></ion-icon>
      <ion-label *ngIf="selectTab !='tab1'">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="search" [class.curve-right-border]="selectTab == 'tab3'" [class.curve-left-border]="selectTab == 'tab1'"  [class]="selectTab =='tab2' ? 'bg-trans':''">
      <ion-icon *ngIf="selectTab != 'tab2' " name='search-outline'></ion-icon>
      <ion-label *ngIf="selectTab != 'tab2' ">Search</ion-label>
    </ion-tab-button>

    <!-- <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"
        class="kid">
      </path>
    </svg> -->

    <ion-tab-button tab="tab3" class="post" [class.curve-left-border]="selectTab == 'tab2'" [class.curve-right-border]="selectTab == 'tab2'" [class.curve-right-border]="selectTab == 'tab4'" [class]="selectTab == 'tab3' ? 'bg-trans':''">
      <ion-icon *ngIf="selectTab != 'tab3' " name='film-outline'></ion-icon>
      <ion-label *ngIf="selectTab != 'tab3' ">Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="wishlist" [class.curve-left-border]="selectTab == 'tab3'" [class]="selectTab == 'tab4' ? 'bg-trans':''">
      <ion-icon *ngIf="selectTab != 'tab4' " name='heart-outline'></ion-icon>
      <ion-label *ngIf="selectTab != 'tab4'">WhishList</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab5">
      <ion-icon *ngIf="selectTab != 'tab5' " name='person-outline'></ion-icon>
      <ion-label *ngIf="selectTab == 'tab5' ">Profile</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>


















