ion-tabs {

    // --------------Custom Semi Transparent & Rounded Tabs----------------------
    ion-tab-bar {
        position: absolute;
        bottom: 0;
        width: 100vw;        
        --background: transparent;
         border-radius: 20px 20px 0 0;
         --border: 0;
         left:0; right: 0;
        // justify-content: space-around;
        // display:flex;
        
        ion-tab-button {
            --background:#fff ;
            --color: var(--ion-color-medium);
            --color-selected: var(--ion-color-dark);
            ion-icon {
                font-size: 1.5rem;
                transition: 0.7s;
            }

            ion-label{
                font-weight: bold;
                //margin-top:20%;
                transition: 1s;
                transform: translateY(15px);
                --color: #222327;
            }
        }
    }
    svg {
        width: 80px;
         margin-top: 16px;
        
        path {
            fill: #fff;
        }
    }



    .Kid {
        animation: walking 3s  linear;
    }
    
    
    @keyframes walking {
    
        25% {
            transform: translateX(200px);
        }
    
        50% {
            transform: translateX(400px);
        }
    
        75% {
            transform: translateX(600px);
        }
    
        100% {
            transform: translateX(800px);
        }
    
    }





    ion-tab-button.search {
        margin-right: -1px;
        margin-left: -2px;
        border-top-right-radius: 20px;
    }
    // ion-tab-button.wishlist {
    //     //margin-left: -1px;
    //     margin-right: -2px;
    //     border-top-left-radius: 20px;
    // }
    ion-tab-button.post {
        margin-left: -1px;
        margin-right: -2px;
        border-top-left-radius: 20px;
    }
    ion-fab {
        transition: 0.8s;
        //width:50px;
        height:75px;

        ion-fab-button {
            
            --background: linear-gradient(to bottom, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
            ion-icon {
                font-size: 2rem;
            }

            ion-label{
                font-weight: bold;
                margin-top:25%;
                --color: #222327;

            }
         }
    }

    ion-fab.right-align{
        margin-left: 0.9%;
    }

    ion-fab.left-align{
        margin-left: -17%;
    }

    ion-fab.end-align{
        margin-left: 13%;
    }

    ion-fab.start-align{
        left: 22.7%;
    }
   ion-fab.lastEnd-align{
margin-left:25%;
   }


    @media  only screen  and (max-width: 900px) {
        ion-fab.right-align{
            margin-left: 2%;
        }
    
        ion-fab.left-align{
            margin-left: -26%;
        }

        ion-fab.end-align{
            margin-left:19%;
        }
        ion-fab.start-align{
            left:9%;
        }

        ion-fab.lastEnd-align{
            margin-left:37%;
               }
      }

}































// ion-tabs{
// 	ion-fab {
//         transition: 0.8s;
// 		//margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
// 		ion-fab-button {
// 			// --box-shadow: none;
//             // --color: #222327;
//             // --background: #29fd53;

//             ion-icon {
//                 font-size: 2rem;
//                 --color: #222327;
              
//            }

           
// 		}
// 	}
// 	ion-tab-bar {
// 		// --border: 0;
// 		// --background: transparent;
// 		// position: absolute;
// 		// bottom: 0;
// 		// left:0; right: 0;
// 		// width: 100%;
//         //justify-content: space-between;
//        // display:flex;
//         --color: #222327;
// 		&:after{
// 			content: " ";
// 			width: 100%;
// 			bottom: 0;
// 			background: var(--ion-color-light);
// 			height: env(safe-area-inset-bottom);
// 			position: absolute;
// 		}
// 		ion-tab-button {
// 			--background: var(--ion-color-light);
//             ion-icon {
//                 font-size: 1.5rem;
//                 transition: 0.7s;
//                 --color: #222327;
               

//             }
// 		}
// 		ion-tab-button.comments {
// 			margin-right: 0px;
// 			border-top-right-radius: 18px;
// 		}
// 		ion-tab-button.notifs {
// 			margin-left: 0px;
// 			border-top-left-radius: 18px;
// 		}
// 		svg {    
// 			width: 72px;
// 			margin-top: 19px;
// 			path{
// 				fill:  var(--ion-color-dark);
// 			}		
// 		}
// 	}

//     ion-fab.right-align{
//         margin-left: 20%;
//     }

//     ion-fab.left-align{
//         margin-left: -24%;
//     }

//     ion-fab.end-align{
//         right: 3.8%;
//     }

//     ion-fab.start-align{
//         left: 3.8%;
//     }


//     @media  only screen  and (max-width: 500px) {
//         ion-fab.right-align{
//             margin-left: 13%;
//         }
    
//         ion-fab.left-align{
//             margin-left: -27%;
//         }

//         ion-fab.end-align{
//             right: none;
//         }
//         ion-fab.start-align{
//             left:none;
//         }
//       }
// }